header {
	background-color:#000;
	text-align:center;
	margin:auto;
	width:100%;
	padding-top:35px;
	padding-bottom:20px;
}

nav li {
	display:inline-block;
	font-family:"Vollkorn";
	font-weight:400;
	font-size:20px;
	color:#000;
	text-align:center;
}

nav ul {
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-column-gap:30px;
	margin:auto;
	width:80%;
	padding-top:13px;
	padding-bottom:13px;
	border-bottom:black solid 1px;
}

a {
	font-family:"Vollkorn";
	font-weight:400;
	font-size:18px;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
}

a:hover {
	font-family:"Vollkorn";
	font-weight:400;
	font-size:18px;
	color:#FFF;
	font-style:italic;
	background-color:#F2A304;
	text-transform:uppercase;
	padding:5px;
	text-decoration:none;
}

.current {
  	font-family:"Vollkorn";
	font-weight:400;
	font-size:18px;
	color:#FFF;
	font-style:italic;
	background-color:#F2A304;
	text-transform:uppercase;
	padding:5px;
	text-decoration:none;
}

main {
	padding-bottom:150px;
	margin:auto;
}

.about {
	text-align:center;
}

.slideshow {
	margin: auto;
	outline: none;
	width:100%;
	height:500px;
	background-color:#000;
}

.slideshow-brew {
	margin: auto;
	outline: none;
	width:70%;
	height:400px;
	background-color:#FFF;
}

h1 {
	font-family: "Vollkorn";
	font-weight: 900;
	font-size:48px;
	text-transform: uppercase;
	color:#FFF;
}

h2 {
	font-family:"Vollkorn";
	font-weight:700;
	text-transform:uppercase;
	color:#000;
	font-size:38px;
	text-align:center;
}

h3 {
	font-family: "Vollkorn";
	font-weight: 700;
	font-size:20px;
	color:#000;
}

h4 {
	font-family:"Open Sans";
	font-weight:600;
	font-size:16px;
	line-height:20px;
}

h5 {
	font-family: "Vollkorn";
	font-weight:700;
	font-size:34px;
	text-transform:uppercase;
	color:#FFF;
}

h6 {
	font-family:"Vollkorn";
	font-weight:700;
	font-size:18px;
	text-transform:uppercase;
	padding-top:40px;
	text-align:center;
	padding-bottom:18px;
}

strong {
	font-family: "Vollkorn";
	font-weight:700;
	font-size:48px;
	text-transform:uppercase;
	color:#000;
	text-align:center;
}

p {
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	text-align:left;
}

.index {
	margin:auto;
	width:80%;
}

article {
	text-align:left;
}

.hours {
	text-align:center;
	padding-bottom:35px;
}

main {
	width:80%;
	margin:auto;
}

.logo {
	width:200px;
	padding-top:20px;
	padding-bottom:20px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height:0;
  display: none;
  transition:max-height 0.5s ease-out;
  overflow: hidden;
  border:2px solid;
  border-color:#F2A304;
}

.accordion:after {
  content: ">";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "^";
}

button {
	color:#FFF;
	font-family: "Vollkorn";
	font-weight:700;
	font-size:22px;
	text-transform:uppercase;
	background-image: url(../images/lightgrain.png);
	width:300px;
	padding:12px;
	text-align:center;
	margin:auto;
}

button:hover {
	background-color:#FFF;
}

footer {
	background-color:#000;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width:100%;
}

.socials {
	width:44px;
}

.location {
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	color:#FFF;
}

.selection {
	background-color:#F2A304;
	font-family:"Vollkorn";
	font-weight:600;
	font-size:27px;
	font-style:italic;
	color:#FFF;
	width:180px;
	height:180px;
	text-align:left;
	line-height:25px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #FFF;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width:768px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:25px;
		  text-transform:uppercase;
	}
}

@media only screen and (min-width:1024px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:30px;
		  text-transform:uppercase;
	}
}

@media only screen and (min-width:1200px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:35px;
		  text-transform:uppercase;
	}
}

/*.accordion {
  background-image: url(../images/lightgrain.png);
  color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid;
  outline: none;
  transition: 0.5s;
  font-family:"Vollkorn";
  font-weight:700;
  font-size:34px;
  text-transform:uppercase;
}