.logo {
	min-height:40%;
	max-height:80%;
}

.accordion {
  background-image: url(../images/lightgrain.png);
  color: #FFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid;
  outline: none;
  transition: 0.4s;
  font-family:"Vollkorn";
  font-weight:700;
  font-size:36px;
  text-transform:uppercase;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

footer {
	background-color:#000;
}

@media only screen and (min-width:768px) {
	main {
		background-color:skyblue;
	}
}

@media only screen and (min-width:1024px) {
	main {
		background-color:salmon;
		}
}

@media only screen and (min-width:1200px) {
	main {
		background-color:limegreen;
	}
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/