header {
	background-color:#000;
	text-align:center;
	margin:auto;
	width:100%;
	padding-top:35px;
	padding-bottom:20px;
}

a {
	display:inline-block;
	font-family:"Vollkorn";
	font-weight:400;
	font-size:20px;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	padding:5px;
}

#navbar a:hover {
	font-family:"Vollkorn";
	font-weight:400;
	font-size:20px;
	color:#FFF;
	font-style:italic;
	background-color:#F2A304;
	text-transform:uppercase;
	padding:5px;
	text-decoration:none;
}

#current {
  	font-family:"Vollkorn";
	font-weight:400;
	font-size:20px;
	color:#FFF;
	font-style:italic;
	background-color:#F2A304;
	text-transform:uppercase;
	padding:5px;
	text-decoration:none;
}

main {
	padding-bottom:150px;
	margin:auto;
}

.about {
	text-align:center;
	padding-top:45px;
	padding-bottom:45px;
	width:80%;
	margin:auto;
	background-color:#FFF;
}

br {
	line-height:40px;
	font-family:"Vollkorn";
	font-weight:400;
}

.slideshow {
	margin: auto;
	outline: none;
	width:100%;
	height:500px;
	background-color:#000;
}

.slideshow-brew {
	margin: auto;
	outline: none;
	width:70%;
	height:400px;
	background-color:#FFF;
}

h1 {
	font-family: "Vollkorn";
	font-weight: 900;
	font-size:48px;
	text-transform: uppercase;
	color:#FFF;
}

h2 {
	font-family:"Vollkorn";
	font-weight:700;
	text-transform:uppercase;
	color:#000;
	font-size:38px;
	text-align:center;
}

h3 {
	font-family: "Vollkorn";
	font-weight: 700;
	font-size:20px;
	color:#000;
	text-transform:uppercase;
	padding-bottom:5px;
}

h4 {
	font-family:"Open Sans";
	font-weight:600;
	font-size:16px;
	line-height:23px;
}

h5 {
	font-family: "Vollkorn";
	font-weight:700;
	font-size:34px;
	text-transform:uppercase;
	color:#FFF;
}

h6 {
	font-family:"Vollkorn";
	font-weight:700;
	font-size:18px;
	text-transform:uppercase;
	text-align:center;
	padding-bottom:18px;
}

.alt {
	font-family:"Vollkorn";
	font-weight:700;
	text-transform:uppercase;
	color:#000;
	font-size:38px;
	text-align:center;
	padding-bottom:40px;
}

br {
	padding:5px;
}

aside {
	padding-bottom:25px;
}

strong {
	font-family: "Vollkorn";
	font-weight:700;
	font-size:48px;
	text-transform:uppercase;
	color:#000;
	text-align:center;
}

p {
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	text-align:left;
	width:100%;
	margin:auto;
}

ul {
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	text-align:left;
}

.index {
	margin:auto;
	width:85%;
	background-color:#FFF;
}


hr {
	border:0.5px solid;
	border-color:#000;
	width:80%;
}

article {
	text-align:left;
}

.hours {
	width:320px;
	margin:auto;
	padding-bottom:35px;
	display:grid;
	grid-template-columns:1fr 1fr;
}

.daystwo {
	width:100%;
	margin:auto;
	text-align:right;
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
}

main {
	width:85%;
	margin:auto;
}

.growl {
	width:50%;
	margin:auto;
}

.modal-header {
	background-color:#F2A304;
	color:#FFF;
	text-align:left;
	font-family:"Vollkorn";
	font-weight:700;
	text-transform:uppercase;
	color:#FFF;
	font-size:26px;
	text-align:left;
	padding-left:18px;
	padding-top:10px;
	padding-bottom:10px;
}

.modal-header em {
	font-family:"Vollkorn";
	font-weight:600;
	text-transform:uppercase;
	color:#FFF;
	font-style:italic;
	font-size:20px;
	text-align:left;
	padding-bottom:5px;
	padding-left:13px;
}

.modal-body {
	padding-top:10px;
	padding-left:18px;
	margin-right:20px;
	width:90%
	margin:auto;
}

/*.modehead {
	color:#FFF;
	font-family:"Vollkorn";
	font-weight:400;
	font-style:italic;
	font-size:20px;
}*/

.sizing {
	display:grid;
	grid-template-columns:1fr 1fr;
	margin:auto;
	width:100%;
}

ul {
	display:grid;
	grid-template-columns:1fr 1fr;
	text-align:left;
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	grid-gap:15px;
	padding-right:20px;
}

.logo {
	width:200px;
	padding-top:20px;
	padding-bottom:20px;
}

.logo:hover {
	transform:scale(1.5) rotate(30deg);
	transition:all .5s ease-in-out;
}

.tacos {
	padding:10px;
	border:2px solid #F2A304;
}

.leftcol {
	margin-top:45px;
}

.active, .accordion:hover {
  background-color: #FFF;
}

.panel {
  padding: 25px 18px;
  background-color: white;
  display: none;
  transition:max-height 0.5s ease-out;
  overflow: hidden;
  border:3px solid;
  border-color:#000;
}

.accordion:after {
  content: "+";
  font-size: 30px;
  color: #FFF;
  float: right;
  z-index:5;
}

.active:after {
  content: "-";
  z-index:5;
  color:#FFF;
  font-size:30px;
}

button {
	color:#FFF;
	font-family: "Vollkorn";
	font-weight:700;
	font-size:22px;
	text-transform:uppercase;
	background-image: url(../images/lightgrain.png);
	width:300px;
	padding:12px;
	text-align:center;
	margin:auto;
}

button:hover {
	background-color:#FFF;
}

.patio {
	min-width:30%;
	max-width:70%;
}

footer {
	background-color:#000;
	width:100%;
	margin:auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding:20px 0;
}

.socials {
	width:44px;
}

.location {
	font-family:"Open Sans";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	color:#FFF;
	margin:auto;
}

.email {
	font-family:"Vollkorn";
	font-weight:400;
	font-size:15px;
	line-height:20px;
	text-align:center;
}

.selection {
	font-family:"Vollkorn";
	font-weight:600;
	font-size:23px;
	font-style:italic;
	color:#FFF;
	text-align:left;
	line-height:25px;
	text-transform:uppercase;
	margin:auto;
	width:180px;
	height:180px;
}

.selection button:hover {
	background-color:#F2A304;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	margin:20% auto;
	background-color: #FFF;
	border: 3px solid #F2A304;
	padding-bottom:20px;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width:768px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:25px;
		  text-transform:uppercase;
	}

	.tap {
		width:85%;
		margin:auto;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap:5px;
	}

	.menu {
		display:grid;
		grid-template-columns:1fr
		width:100%;
		margin:auto;
	}

	#navbar {
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		grid-column-gap:30px;
		margin:auto;
		width:100%;
		padding-top:13px;
		padding-bottom:13px;
		border-bottom:black solid 1px;
		text-align:center;
		font-weight:400;
		font-family:"Vollkorn";
		font-size:20px;
		background-color:#FFF;
		z-index:5;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		margin:auto;
	}

	.sticky + .content {
		width:100%;
		margin:auto;
		padding:10px;
	}
}

@media only screen and (min-width:1024px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:30px;
		  text-transform:uppercase;
	}

	.tap {
		width:85%;
		margin:auto;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows:1fr 1fr 1fr 1fr 1fr;
		grid-gap:5px;
	}

	.menu {
		display:grid;
		grid-template-columns:1fr 2fr;
		width:80%;
		margin:auto;
		grid-gap:15px;
	}

	.padcol {
		padding-top:45px;
	}

	#navbar {
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		grid-column-gap:30px;
		margin:auto;
		width:90%;
		padding-top:13px;
		padding-bottom:13px;
		border-bottom:black solid 1px;
		text-align:center;
		font-weight:400;
		font-family:"Vollkorn";
		font-size:20px;
		background-color:#FFF;
		z-index:5;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 90%;
		margin:auto;
	}

	.sticky + .content {
		width:90%;
		margin:auto;
		padding:10px;
	}
}

@media only screen and (min-width:1200px) {
	.accordion {
		  background-image: url(../images/lightgrain.png);
		  color: #FFF;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  text-align: left;
		  border: 1px solid;
		  outline: none;
		  transition: 0.5s;
		  font-family:"Vollkorn";
		  font-weight:700;
		  font-size:35px;
		  text-transform:uppercase;
	}

	.tap {
		width:85%;
		margin:auto;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows:1fr 1fr 1fr 1fr;
		grid-gap:5px;
	}

	.menu {
		display:grid;
		grid-template-columns:1fr 2fr;
		width:80%;
		margin:auto;
		grid-gap:15px;
	}

	.padcol {
		padding-top:45px;
	}

	#navbar {
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		grid-column-gap:30px;
		margin:auto;
		width:88%;
		padding-top:13px;
		padding-bottom:13px;
		border-bottom:black solid 1px;
		text-align:center;
		font-weight:400;
		font-family:"Vollkorn";
		font-size:20px;
		background-color:#FFF;
		z-index:5;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 88%;
		margin:auto;
	}

	.sticky + .content {
		width:88%;
		margin:auto;
		padding:10px;
	}
}